.title {
  margin-left: 6cm;
  margin-top: 80px;
  font-size: 36px;
  color: rgb(1, 1, 15);
  font-style: bold;
  margin-right: 5cm;
}

button {
  background-color: rgb(106, 209, 250);
  margin-top: 20px;
  width: 230px;
  border: 0;
  font-weight: bold;
}

input {
  margin-top: 0cm;
  width: 6cm;

  margin-left: 25cm;
  margin-right: 5cm;
  block-size: 1.1cm;
}

.select {
  margin-top: 20px;
  background-color: rgb(106, 209, 250);
  border: 0;
  width: 230px;
  height: 35px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.option {
  color: black !important;
}
